asgiref==3.11.1
certifi==2026.7.22
distlib==0.4.3
Django==6.0.5
filelock==3.32.3
packaging==26.3
pillow==12.2.0
pipenv==2026.7.1
pippip==0.0.10
platformdirs==4.11.3
pygame==2.6.1
python-discovery==1.5.2
setuptools==84.0.0
sqlparse==0.5.5
tzdata==2026.2
virtualenv==21.7.4
