{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- base.html, внутри <head> -->
    <link rel="stylesheet" href="{% static 'css/product_form.css' %}">
</head>
<body>

    {% include 'components/header.html' %}

    <main>
        {% block content %}


        {% endblock content %}
    </main>

    {% include 'components/footer.html' %}

    <script src="{% static 'js/main.js'%}"></script>



</body>
</html>